Chaotic mix <!-- of TMPL_VAR statements --><TMPL_VAR and><!-- html comments --><TMPL_VAR in> multilane
layout <!-- and statements <TMPL_VAR inside> a <TMPL_VAR real> html comment -->
<a href="<TMPL_VAR protocol>://<TMPL_VAR url><TMPL_VAR O_o><TMPL_VAR chest></a>
