Template starts here
<tmpl_if test>Text here
	<!-- Lets add mixed case to our tests -->
	<tmpl_unless test><!--
		--><TMPL_VAR undef><!--
		-->Do something here<!--
	--></TMPL_UNLESS><!--
	<span>Test string</span>
</TMPL_IF>One more test string
