<!-- Name attr -->
<TMPL_LOOP name>
<TMPL_VAR name="Test">
<TMPL_VAR Name="Test">
<TMPL_VAR NAME="Test">
<TMPL_VAR Test>
<TMPL_VAR Name="TMPL_VAR">
<TMPL_VAR TMPL_VAR>
<TMPL_VAR Name>
<TMPL_VAR name="Name">
</TMPL_LOOP>
