<!-- Default attribute test -->
<TMPL_VAR default="1370" name="Test">
<TMPL_VAR default="1374" name="test">
<TMPL_VAR default="1373" Test>
<TMPL_VAR default="1377" test>
<TMPL_VAR name="Test">
<TMPL_VAR name="test">
